:root {
    --main-clr: rgb(15, 15, 36);
    --accent-clr: gainsboro;
    --btn-clr: brown;
    --secondary-clr: rgb(27, 27, 39);
    --text-clr: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--accent-clr);
    display: flex;
}

form {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    color: var(--text-clr);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 60vw;
    background-color: var(--main-clr);
    position: relative;
    border: none;
    outline: none;
}

fieldset {
    border-style: none;
}

.top,
.middle {
    height: 35%;
}

.middle {
    background-color: var(--secondary-clr);
}

.top,
.bottom {
    background-color: var(--main-clr);
}

.bottom {
    height: 30%;
}

img {
    height: 100vh;
    width: 40vw;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    column-gap: 50px;
}

input {
    width: 20vw;
}

.form>div {
    display: flex;
    flex-direction: column;
}