:root {
    --main-clr: #041C32;
    --accent-clr: gainsboro;
    --btn-clr: #ECB365;
    --secondary-clr: #064663;
    --text-clr: gainsboro;
    --tertiary-clr: #04293A;
    --font-family: "sans-serif, Arial, Helvetica";
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Kingthings-Foundation";
    src: url(./Kingthings-Foundation/Kingthings_Foundation.ttf);
}

body {
    font-family: var(--font-family);
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--accent-clr);
    display: flex;
}

form {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    color: var(--text-clr);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 60vw;
    background-color: var(--main-clr);
    position: relative;
    border: none;
    outline: none;
}

fieldset {
    border-style: none;
}

.top,
.middle {
    height: 35%;
}

.middle {
    background-color: var(--secondary-clr);
    padding: 30px;
}

.top {
    background-color: var(--main-clr);
}

.bottom {
    background-color: #04293A;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 30px;
}

img {
    height: 100vh;
    width: 40vw;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    column-gap: 40px;
    justify-items: center;
    align-items: center;
}

input {
    width: 20vw;
    height: 25px;
    background-color: var(--text-clr);
    border-radius: 0.5em;
    border-style: none;
    padding: 5px;
    color: var(--text-clr);
    font-family: var(--font-family);
    letter-spacing: 1px;
    font-size: 16px;
    background-color: transparent;
}

.form>div {
    display: flex;
    flex-direction: column;
}

button {
    width: 200px;
    height: 40px;
    background-color: var(--btn-clr);
    border-radius: 1em;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    border-style: none;
}

button:hover {
    background-color: blueviolet;
    color: white;
    transition: 0.2s ease-in-out;
}

.quote {
    padding: 30px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

.caption {
    font-size: 22px;
    font-weight: 700;
    color: var(--btn-clr);
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
}

cite {
    color: var(--btn-clr);
}

.content {
    padding: 30px;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

label {
    color: var(--btn-clr);
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 2px;
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100vw;
        height: 40%;
    }
    .form-container {
        width: 100%;
        margin-top: -5px;
        position: relative;
    }
    button {
        width: 400px;
    }
    .top,
    .middle,
    .bottom {
        width: 100vw;
        margin: 0;
        border-radius: 0.5em;
    }
    input {
        width: calc(20vw + 60px);
        height: 35px;
        filter: brightness(90%);
    }
    input:valid {
        border: 1px solid green;
    }
    input:invalid {
        border: 1px solid red;
    }
    .form {
        padding-left: 30px;
    }
    .caption {
        padding-left: 160px;
        margin-top: -20px;
        font-size: 24px;
    }
    .bottom {
        align-items: center;
    }
}